* {
    /* border: 1px dotted blue; */
    box-sizing: border-box;
    margin: 0; padding: 0;
}

body {
    height: 100vh;
    background-image: url(img/fluid.webp);
    background-size: 120% 120%;
    background-position-x: 60%;
   
    display: flex;
    justify-content: center;
    align-items: center;
}

.card > div {
    margin-top: 15px;
}
.card {
    position: relative;
    background-color: rgba(255, 255, 255, 0.1);
    width: 400px;
    padding: 30px;
    border-radius: 40px;
    font-family: "@microsoft YaHei Ui Light";
    color: white;
    backdrop-filter: blur(10px);
    overflow: hidden;
    z-index: 0;
}

/* .card {
    background: linear-gradient(158deg, #96deff38, #ff90de3a);
    background-size: 400% 400%;

    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
}
@keyframes AnimationName {
    0%{background-position:0% 4%}
    50%{background-position:100% 97%}
    100%{background-position:0% 4%}
} */





.menu {
    position: absolute;
    left:5%; right: 5%; top: 6px;
    padding: 10px;
    font-size: 28px;
    z-index: 1;
}
.menu i#right {
    float: right;
    cursor: pointer;
    
}
.menu i#left {
    float: left;
}
.menu * {
    cursor: pointer;
    transition: 0.4s;
}
.menu > i:hover {
    color: rgb(178, 135, 228);
}


.profile {
    margin: auto;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    overflow: hidden;
}
.profile img {
    width: 100%;
    opacity: .7;
    cursor: pointer;
    transition: 2s;
}
.profile img:hover {
    opacity: 1;
    transform: scale(1.1);
}


div#name {
    text-align: center;
    font-size: 28px;
}


.account {
    text-align: center;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}
.account .info {
    /* border: 1px dotted black; */
    border-radius: 10px;
    padding: 5px;
    width: 100px;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.0) ,
        rgba(255, 255, 255, 0.1)
    );
}


.bio {
    border-radius: 10px;
    padding: 10px;
    /* background: rgba(255, 255, 255, 0.05); */
    border-radius: 10px;
    background-image: linear-gradient(
        to bottom right,
        rgba(255, 255, 255, 0.0) ,
        rgba(255, 255, 255, 0.1)
    );
}

.buttons {
    display: flex;
    justify-content: space-between;
}
.buttons button {
    border: none;
    border-radius: 10px;
    outline: none;
    width: 150px; height: 50px;
    background: rgba(255, 255, 255, 0.05);
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}
.buttons button:hover {
    background: rgba(255, 255, 255, 0.2)!important;
}


.social {
    display: flex;
    justify-content: space-between;
}
.social .media {
    width: 50px; height: 50px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    background: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition: .4s;
    /* center */
    display: flex;
    justify-content: center;
    align-items: center;
}
.media:hover {
    background: rgba(255, 255, 255, 0.2)!important;
}


.notification {
    position: absolute;
    width: 280px; height: 270px;
    transform: translateX(-50%);
    right: 50%; left: 50%; top: -250px;
    padding: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.2);
    font-size: 16px;
    opacity: 0;
    /* backdrop-filter: blur(2px); */
    overflow: hidden;
    transition: 0.4s;
}


.notification p {
    padding: 5px;
    margin-top: 5px;
    border-radius: 5px;
    backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.2);
    color:rgb(255, 255, 255);
    font-weight: bold;
    transition: 1s;
    z-index: 3;
}
.notification p:hover {
    background: rgba(255, 255, 255, 0.4);
}